html {
    box-sizing: border-box;
}

  *, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 2rem;
    height: 100vh;
    display: grid;
    justify-items: center;
    background-color: rgb(255, 196, 0);
}

h1 {
    font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text_small {font-size: 0.889rem;}

h1, h2, h3 {
    text-align: center;
}

#progress-bar {
    width: 19rem;
    height: 0.2rem;
    border: black 0.125rem solid;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

#current-time {
    display: inline;
}

#total-length {
    display: inline;
    margin-left: 14.5rem;
}


#controls {
    margin-top: 1.5rem;
    text-align: center;
}

#controls img {
    width: 2.5rem;
}

#playlist-area {
    border: black 0.0125rem solid;
    width: 19rem;
    height: 19rem;
    margin-top: 2rem;
}

#playlist-area img {
    width: 100%;
}

@media only screen and (min-width: 50em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }

    #player-area {
        align-self: center;
    }
}